/** COMMON **/
/* button, input 관련 */
.icon-btn {
  display: inline-block;
  cursor: pointer;
}
.icon-btn > button,
.icon-btn > a {
  display: block;
  width: 34px;
  height: 32px;
  border-radius: 8px;
  border: 1px solid #e1e1e1;
  background-color: #e1e1e1;
  background-image: url('../img/icon/icon-reset-01.svg');
  background-position: center;
  background-size: 14px;
  background-repeat: no-repeat;
}
.icon-btn:hover > button,
.icon-btn:hover > a {
  border: 1px solid #e5e5e5;
  background-color: #e5e5e5;
  box-shadow: 1px 3px 6px rgba(88, 88, 88, 0.2);
}

/* input & button */
.input-btn__wrap {
  display: inline-block;
  vertical-align: middle;
}
.input-btn__wrap .input-btn {
  display: inline-block;
  font-size: 0;
  cursor: pointer;
}
.input-btn__wrap .input-btn > input {
  width: auto;
  height: 34px;
  border-radius: 6px 0 0 6px;
  border: 1px solid #e1e1e1;
  font-size: 13px;
  text-indent: 8px;
}
.input-btn__wrap .input-btn > input[type='number'] {
  width: 65px;
  vertical-align: top;
}
.input-btn__wrap .input-btn > button {
  display: inline-block;
  padding: 0 14px;
  border-radius: 0 6px 6px 0;
  border: 1px solid #e1e1e1;
  background-color: #e1e1e1;
  color: #313131;
}
.input-btn__wrap .input-btn:hover > input {
  border: 1px solid #e5e5e5;
  box-shadow: 1px 3px 6px rgba(100, 100, 100, 0.1);
}
.input-btn__wrap .input-btn:hover > button {
  background-color: #e5e5e5;
}
.input-btn__wrap .input-btn > input:focus {
  border: 1px solid #866ac8;
}
.input-btn__wrap .input-btn > input:focus + button {
  border: 1px solid #866ac8;
  background-color: #866ac8;
  color: #fff;
}

/* chk-btn */
.chk-btn-wrap {
}
.chk-btn {
  display: inline-block;
  margin-right: 8px;
  font-size: 13px;
  cursor: pointer;
}
.chk-btn:last-child {
  margin-right: 0;
}
.chk-btn > input[type='checkbox'],
.chk-btn > .chk-btn__input {
  display: none;
}
.chk-btn > .chk-btn__txt {
  display: inline-block;
  position: relative;
  min-width: 66px;
  padding: 3px 8px 2px 24px;
  border-radius: 15px;
  border: 1px solid #aaa;
  font-weight: 500;
  color: #aaa;
  opacity: 0.7;
}
.chk-btn > .chk-btn__txt::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 1px solid #aaa;
}
.chk-btn > input[type='checkbox']:checked + .chk-btn__txt {
  border: 1px solid #717171;
  background-color: #717171;
  color: #fff;
  box-shadow: 1px 3px 6px rgba(100, 100, 100, 0.1);
  opacity: 1;
}
.chk-btn > input[type='checkbox']:checked + .chk-btn__txt::after {
  border: 1px solid #fff;
  background-color: #515151;
}
.chk-btn.chk-btn--red > .chk-btn__txt {
  border: 1px solid rgb(255, 167, 151);
  color: tomato;
}
.chk-btn.chk-btn--red > .chk-btn__txt::after {
  border: 1px solid tomato;
}
.chk-btn.chk-btn--red > input[type='checkbox']:checked + .chk-btn__txt {
  border: 1px solid rgb(255, 123, 99);
  background-color: rgb(255, 123, 99);
  color: #fff;
}
.chk-btn.chk-btn--red > input[type='checkbox']:checked + .chk-btn__txt::after {
  background-color: tomato;
}
.chk-btn.chk-btn--yellow > .chk-btn__txt {
  border: 1px solid rgb(255, 202, 103);
  color: rgb(255, 191, 72);
}
.chk-btn.chk-btn--yellow > .chk-btn__txt::after {
  border: 1px solid rgb(255, 191, 72);
}
.chk-btn.chk-btn--yellow > input[type='checkbox']:checked + .chk-btn__txt {
  border: 1px solid rgb(255, 200, 97);
  background-color: rgb(255, 200, 97);
  color: #fff;
}
.chk-btn.chk-btn--yellow
  > input[type='checkbox']:checked
  + .chk-btn__txt::after {
  background-color: rgb(255, 191, 72);
}
.chk-btn.chk-btn--green > .chk-btn__txt {
  border: 1px solid rgb(131, 238, 128);
  color: rgb(77, 187, 73);
}
.chk-btn.chk-btn--green > .chk-btn__txt::after {
  border: 1px solid rgb(77, 187, 73);
}
.chk-btn.chk-btn--green > input[type='checkbox']:checked + .chk-btn__txt {
  border: 1px solid rgb(102, 209, 98);
  background-color: rgb(102, 209, 98);
  color: #fff;
}
.chk-btn.chk-btn--green
  > input[type='checkbox']:checked
  + .chk-btn__txt::after {
  background-color: rgb(77, 187, 73);
}
.chk-btn.chk-btn--blue > .chk-btn__txt {
  border: 1px solid rgb(159, 192, 255);
  color: cornflowerblue;
}
.chk-btn.chk-btn--blue > .chk-btn__txt::after {
  border: 1px solid cornflowerblue;
}
.chk-btn.chk-btn--blue > input[type='checkbox']:checked + .chk-btn__txt {
  border: 1px solid rgb(121, 163, 240);
  background-color: rgb(121, 163, 240);
  color: #fff;
}
.chk-btn.chk-btn--blue > input[type='checkbox']:checked + .chk-btn__txt::after {
  background-color: cornflowerblue;
}
.chk-btn.chk-btn--purple > .chk-btn__txt {
  border: 1px solid rgb(190, 105, 230);
  color: rgb(124, 39, 163);
}
.chk-btn.chk-btn--purple > .chk-btn__txt::after {
  border: 1px solid rgb(124, 39, 163);
}
.chk-btn.chk-btn--purple > input[type='checkbox']:checked + .chk-btn__txt {
  border: 1px solid rgb(148, 63, 187);
  background-color: rgb(148, 63, 187);
  color: #fff;
}
.chk-btn.chk-btn--purple
  > input[type='checkbox']:checked
  + .chk-btn__txt::after {
  background-color: rgb(124, 39, 163);
}

/* input - select */
select {
  display: inline-block;
  width: auto;
  height: 34px;
  padding: 0 24px 0 8px;
  margin-right: 4px;
  border-radius: 6px;
  border: 1px solid #e1e1e1;
  background-image: url('../img/icon/icon-select-arrow.svg');
  background-repeat: no-repeat;
  background-position: 90% 53%;
  background-size: 9px;
}
select:focus {
  background-image: url('../img/icon/icon-select-arrow-633fb8.svg');
  outline: 1px solid #866ac8;
}
select > option {
  line-height: 1.5;
}

/* STATUS page */
.detail-list {
  position: relative;
}
.chart-option__wrap {
  position: relative;
  /* padding-right: 20px; */
  min-height: 24px;
  margin: -14px 0 18px;
  /* text-align: right; */
}
.chart-option__wrap > .chart-option {
  display: inline-block;
  margin-left: 24px;
}
.chart-option__wrap > .chart-option:first-child {
  margin-left: 0;
}
.chart-option__wrap > .chart-option--radio {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  text-align: center;
}
.chart-option__wrap > .chart-option--radio > .option-radio__list {
  border-radius: 20px;
  background-color: #efefef;
  font-size: 0;
}
.chart-option__wrap .option-radio__item {
  display: inline-block;
  position: relative;
  /* margin-right: 3px; */
  margin-right: 0;
}
.chart-option__wrap .option-radio__item:last-child {
  margin-right: 0;
}
.chart-option__wrap .option-radio__item > input {
  display: none;
}
.chart-option__wrap .option-radio__item > label {
  display: inline-block;
  padding: 5px 11px;
  border-radius: 20px;
  /* border: 1px solid #eaeaea; */
  border: 1px solid rgba(255, 255, 255, 0);
  font-size: 13px;
  font-weight: 500;
  color: #818181;
  vertical-align: middle;
  cursor: pointer;
}
.chart-option__wrap .option-radio__item > label:hover {
  /* border: 1px solid #866ac8; */
  color: #866ac8;
}
.chart-option__wrap .option-radio__item > input:checked + label {
  border: 1px solid #866ac8;
  /* background-color: #dcd4ef; */
  background-color: #866ac8;
  color: #fff;
  box-shadow: 1px 3px 6px rgba(88, 88, 88, 0.2);
}
.chart-option__wrap .option-radio__item.item-posit > label:hover {
  /* border: 1px solid #94a9fd; */
  color: #617ff8;
}
.chart-option__wrap .option-radio__item.item-posit > input:checked + label {
  border: 1px solid #617ff8;
  background-color: #617ff8;
  color: #fff;
}
.chart-option__wrap .option-radio__item.item-negat > label:hover {
  /* border: 1px solid #ff918e; */
  color: #fb6761;
}
.chart-option__wrap .option-radio__item.item-negat > input:checked + label {
  border: 1px solid #fb6761;
  background-color: #fb6761;
  color: #fff;
}

.chart-option__wrap .chart-option--unit {
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  text-align: right;
  font-size: 13px;
}

/* ASSOCIATION page */
.graph-box > * {
}

#buttonBar {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  text-align: center;
}
#buttonBar > div {
  display: inline-block;
}
#buttonBar > div:last-child {
  margin-right: 0;
}
#buttonBar > div > p {
  margin-right: 4px;
}
#buttonBar > div > p:last-child {
  margin-right: 0;
}
.icon-btn.btn--reset-zoom > button,
.icon-btn.btn--reset-zoom > a {
  background-image: url('../img/icon/icon-reset-01.svg');
}
.icon-btn.btn--reset-pos > button,
.icon-btn.btn--reset-pos > a {
  background-image: url('../img/icon/icon-reset-02.svg');
}
#buttonBar .btn > button,
#buttonBar .btn > a {
  line-height: 32px;
}
.btn--size__wrap .btn > button {
  padding: 0 8px;
  font-size: 13px;
}
.btn--size__wrap .btn--size-plus > button {
  border-radius: 20px 0 0 20px;
}
.btn--size__wrap .btn--size-minus > button {
  border-radius: 0 20px 20px 0;
}

#optionChkBar {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin: 14px 0 14px;
  text-align: center;
}

/** CONTENTS page **/

/** SEARCH page **/
.article-info-mentioned {
  display: flex;
  flex-direction: column;
  /* column으로 흐름이 바뀌었으니 상하 위치를 ALIGN-CONTENT로 잡는 게 아니라
  JUSTIFY-CONTENT로 잡아야한다는 걸 반복해서 잊지 말자 */
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 160px;
  padding-bottom: 30px;
}
.article-info-mentioned .item-mentioned {
  margin-bottom: 2px;
}
.article-info-mentioned .item-mentioned__num {
  display: inline-block;
  font-family: 'Spoqa Han Sans Neo', 'Noto Sans KR', Apple Gothic, 'sans-serif';
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0;
  vertical-align: bottom;
}
.article-info-mentioned .item-mentioned__text {
  display: inline-block;
  margin-bottom: 6px;
  font-size: 18px;
  font-weight: 700;
  vertical-align: bottom;
}
.article-info-mentioned > .item-period {
  font-size: 14px;
  font-weight: 500;
  color: #afa0d3;
}
